<div class="container-fluid">
  <div class="container">
    <%= link_to "Back to all movies", movies_path %><br/>
    <div class="row jumbotron">
      <div class="col-md-4 col-md-push-8">
        <%= link_to image_tag(@movie.image_url.to_s), movie_path(@movie) %>
      </div>
      <div class="col-md-8 col-md-pull-4">
        <h2><strong><u><%= @movie.title %></u></strong></h2>
        <h3>Release Date - <%= formatted_date(@movie.release_date) %></h3>
        <h4>Dir. <%= @movie.director %> | <%= @movie.runtime_in_minutes %> minutes | Average Rating <%= @movie.review_average %>/10</h4>
        <p><%= @movie.description %></p>
        <h5>(<%= link_to "edit", edit_movie_path(@movie) %>, <%= link_to "delete", movie_path(@movie), method: :delete, data: {confirm: "You sure?"} %>)</h5>
      </div>     
    </div>
    <div class="centered">
      <h1><strong><em>Reviews</em></strong></h1>
    </div>
    <% if current_user %>
      <% @movie.reviews.each do |review| %>
        <p><%= review.text %></p>
        <p><%= review.rating_out_of_ten %>/10</p>
        <small>- <%= review.user.full_name %></small><br/>
      <% end %>
      <p><%= link_to "Write a review!", new_movie_review_path(@movie) %></p>
    <% else %>
      <p>Please <%= link_to "log in", new_session_path %> to see reviews and add your own.</p> 
    <% end %>
  </div>
</div>