<h1>Admin Edit User</h1>
  
<%= form_for @user, url: admin_user_path(@user) do |f| %>
<% if @user.errors.any? %>
<div>
  <%= pluralize(@user.errors.count, "error") %> prevented the account from being created:
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div>
  <%= f.label :email %><br>
  <%= f.text_field :email, placeholder: "E-mail" %>
</div>
<div>
  <%= f.label :firstname %><br>
  <%= f.text_field :firstname, placeholder: "First Name" %>
</div>
<div>
  <%= f.label :lastname %><br>
  <%= f.text_field :lastname, placeholder: "Last Name"  %>
</div>
<div>
  <%= f.label :password %><br>
  <%= f.password_field :password, placeholder: "Password" %>
</div>
<div>
  <%= f.label :password_confirmation %><br>
  <%= f.password_field :password_confirmation, placeholder: "Confirm Password" %>
</div>
<div>
  <p>Create user as admin?</p>
  <%= f.check_box :admin, {}, checked_value = "true", unchecked_value = "false" %>
</div>
<div><%= f.submit "Submit" %></div>
<% end %>